nav {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #9800ff;
}

.menu-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
.menu-button:focus {
  outline: none;
}
.menu-button:focus-visible {
  border: 2px solid #fa3165;
}

ul {
  @apply flex flex-col;
  height: calc(100vh - 100px);

  padding: 32px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  @apply text-2xl font-bold tracking-wider;

  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
li:last-child {
  @apply flex-1 flex items-end text-lg;
}

.dd-menu-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
}
