body {
  font-family: 'Muli', sans-serif;
  color: #40404c;
}

*::selection {
  background: #fa3165;
}
*::-moz-selection {
  background: #fa3165;
}

.dd-title-container {
  @apply absolute top-0 left-0;

  width: 100vh;
  text-align: center;
  display: inline-block;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  padding-top: 2vh;
  font-size: 9vh;
  margin: 0;
  font-weight: bold;
}

.dd-title {
  position: relative;
}

.dd-title:before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #04acd6;
  height: 4.5vh;
}

.dd-logo-container {
  @apply fixed top-0 left-0 w-full;

  @screen md {
    padding-left: 20vh;
    padding-right: 20vh;
    height: 50vh;
  }
}

.dd-logo {
  @apply w-full h-full origin-top-left;

  transform-origin: center top;
  padding-top: 125px;

  @media (max-width: 767px) {
    transform: scale(0.2) !important;
  }
}

.dd-first-block {
  @apply mx-auto flex flex-col justify-center h-screen;

  max-width: 900px;
  padding-left: 18vh;
  padding-right: 3vh;

  padding-top: 15vw;
  max-width: 500px;
  min-height: 40vh;

  @screen md {
    @apply h-auto justify-start;
    max-width: 900px;

    padding-top: 0;
    padding-right: 20vh;
    margin-top: 65vh;
  }
}
