body {
  font-family: 'Muli', sans-serif;
  color: #242539;
}

*::selection {
  background: #fa3165;
}
*::-moz-selection {
  background: #fa3165;
}

.dd-title-container {
  @apply absolute top-0 left-0;

  width: 100vh;
  text-align: center;
  display: inline-block;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  padding-top: 2vh;
  font-size: 9vh;
  margin: 0;
  font-weight: bold;
}

.dd-title {
  position: relative;
}

.dd-title:before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #04acd6;
  height: 4.5vh;
}

.dd-logo-container {
  @apply fixed top-0 left-0 w-full;
  padding-left: 20vh;
  max-width: 400px;

  @screen md {
    @apply max-w-none;
    padding-right: 20vh;
    height: 60vh;
  }
}

.dd-logo {
  @apply w-full h-full origin-top-left;

  transform-origin: center top;
  padding-top: 125px;
}

.dd-first-block {
  @apply mx-auto;

  max-width: 1000px;
  padding-left: 20vh;
  margin-top: 300px;

  @screen md {
    padding-right: 20vh;
    margin-top: 70vh;
  }
}
